<!DOCTYPE html>
{% load staticfiles %}
{% load thumbnail %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True%}
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% include "users/js_lib.html" %}
        {% block css %}
        {% endblock %}
        <meta charset="UTF-8">
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{%url 'index' %}">Proyecto Final</a>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{%url 'usuarios' %}">Usuarios</a>
                        </li>
                        <li>
                            <a href="{%url 'nuevo_cliente' %}">Agregar Cliente</a>
                        </li>
                        <li>
                            <a href="{%url 'lista_cliente' %}">Lista Clientes</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{%url 'logout' %}">Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div id="mensajes" style="margin-top:1px;padding:3px;width: 99.5%;position: fixed;z-index: 99;">
            {% if messages %}
                <div class="msg">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }} {% endif %}"{% endif %}>
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                             {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Importante: {% endif %}
                            {{ message|safe }}
                        </div>
                        {% endfor %}
                </div>
                <script>
                    $(function(){
                        // Si existen mensajes al hacer click en el div del mensaje desaparecera lentamente y se elimina del DOM
                        $('.msg div').on('click',function(){
                            $( this ).hide( 1500, function() {
                                $( this ).remove();
                              });
                        });
                    });
                </script>
            {% endif %}
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% block js_lib %}
    {% endblock %}
    </body>
</html>